/* style.css */
@import url("header.css");
@import url("preloader.css");
@import url("main/hamburger_menu.css");

@import url("main/main_part1__aboutMe.css");
@import url("main/main_part2__aboutMe.css");
@import url("main/main_part3__periods.css");
@import url("main/main_part4__skiils.css");

@font-face {
    font-family: myFirstFont;
    src: url(Shabnam-Bold-FD-WOL.woff);
    font-weight: bold;
  }


*{margin: 0%; padding: 0%;
}
:root{
    --color_body:#212121;
    --color_header:#212121;
    --about:#616161;
    --about__hover:#fff;
    --sj_shop :#fff;
    --main_color: #424242;
    --main_text: #3b2361;

}
body{
    background-color: var(--color_body);
}
a{
    text-decoration: none;
}
/* ----- start colors ----- */
.main{
    background: linear-gradient(0deg,#3b2361,#0f0716) ;
    /* background-color: red !important; */
}
.skill_language__box{
    /* background-color: #3b2361; */
    opacity: 0.6;
    backdrop-filter: blur(10px);

}

/* ----- end colors ----- */

@media (max-width: 768px) {
    *{
        margin: 0%;
        padding: 0%;
    }
    /* body{
        width: 99vw;
    } */
    .container{
        width: 80vw;
    }
    .main_conteiner{
        width: 80vw;
        height: auto;
    }
    .text_header{
        display: none;
    }
    .aboutMe__box{
        width: 100%;
        height: 100vh;
    }
    /* .main{
        display: none;
    } */
    #text_about{
        font-size: 4px;
    }
    p,h3,h2{
        font-size: 1.1rem !important;
    }
    #mine_photo{
        width: 100px;
        /* display: none; */

    }
    .about__me{
        /* height: 80%; */
    }
    #design{
        width: 100px;
        display: none;
    }
    /* .about__me{
        display: none;
    }
    .period_container{
        display: none;
    } */
    #photo_yellow {
        border-radius: 100%;
        width: 70%;
        height: 20%;
    }
    .period_ha{
        /* width: 100%; */
        min-width: 100%;
        max-width: 100%;
        height: auto;
    }
    .period_box{
        min-width: 49px;
    max-width: 112px;
    height: 190px;
    }
  }