.main,.aboutMe_box,.aboutMe_text,.aboutMe_photo{
    display: flex;
    justify-content: center;
    align-items: center;
    /* position: relative; */
}
.main{
    width: 100%;
    height: auto;
    background-color: var(--main_color);
    flex-direction: column;
    /* background-color: i; */
    justify-content: center;
    align-items: center;
    /* background: linear-gradient(0deg,#0f0716,#3b2361); */
}
.main_conteiner{
    width: auto;
    height: auto;
}
.aboutMe_box{
    width: 100%;
    height: 100vh;
    background-color: inherit;
    /* background: url(IMG_20250803_003625.jpg); */
    /* background-repeat: no-repeat; */
    /* background-size: ; */
    /* background-color: red; */
}
.aboutMe_text{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: inherit;
    width: 60%;
    flex-wrap: wrap;
    height: 100%;
    /* color: ??; */
    /* display: none; */
}
#text_about{
    font-family: myFirstFont;
    font-size: 5vw;
    font-weight: bold;
    color: #fff;
}
#text_about__little-font{
    font-size: x-large;
    display: inline;
}
.aboutMe_box,.aboutMe_photo,.aboutMe_text{
    

}
.aboutMe_photo{
    /* width: 40%; */
    /* height: 40%; */
    /* display: flex; */
    /* align-items: center; */
    /* flex-direction: column; */
/*  */
    /* justify-content: center; */
    /* background: linear-gradient(0deg,#0f0716,#3b2361); */

}
#mine_photo{
    width:auto;
    height: auto;
    border-radius: 100%;
    /* z-index: 2000; */
    /* background-color: red; */
}